<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VitalisApp"
        tools:targetApi="31">
        <activity
            android:name=".Activity.HomePersonal"
            android:exported="false"
            android:label="@string/title_activity_home_personal"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.ChatPersonal"
            android:exported="false"
            android:label="@string/title_activity_chat_personal"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.ChatUsuario"
            android:exported="false"
            android:label="@string/title_activity_chat_usuario"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.ListaChatPersonal"
            android:exported="false"
            android:label="@string/title_activity_lista_chat_personal"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.ListaChatUsuario"
            android:exported="false"
            android:label="@string/title_activity_lista_chat_usuario"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.Home"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.ListaExercicio"
            android:exported="false"
            android:label="@string/title_activity_lista_exercicio"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.Plano"
            android:exported="true"
            android:label="@string/title_activity_plano"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.DetalheExercicio"
            android:exported="false"
            android:label="@string/title_activity_detalhe_exercicio"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.DetalheRefeicao"
            android:exported="true"
            android:label="@string/title_activity_receita"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.ListaRefeicao"
            android:exported="true"
            android:label="@string/title_activity_lista_refeicao"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.EncontrePersonal"
            android:exported="true"
            android:label="@string/title_activity_encontre_personal"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.PerfilUsuario"
            android:exported="false"
            android:label="@string/title_activity_perfil_usuario"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.Perfil"
            android:exported="false"
            android:label="@string/title_activity_perfil"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.Mural"
            android:exported="false"
            android:label="@string/title_activity_mural"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.ConfirmacaoParq"
            android:exported="false"
            android:label="@string/title_activity_confirmacao_parq"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.CadastroPersonalDois"
            android:exported="false"
            android:label="@string/title_activity_cadastro_personal_dois"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.CadastroPersonal"
            android:exported="false"
            android:label="@string/title_activity_cadastro_personal"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.CadastroUsuarioDois"
            android:exported="false"
            android:label="@string/title_activity_cadastro_usuario_dois"
            android:theme="@style/Theme.VitalisApp" />
        <activity
            android:name=".Activity.Login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.VitalisApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>